body {
    background: linear-gradient(135deg, #f0f4ff 0%, #e6ecff 100%);
    /*  gradiente de fundo */
display: flex;/* define um container flexivel */
justify-content: center;/*centraliza o conteudo horizontalmente  */
align-items: center;/* centraliza o conteudo verticalmente */
height: 100vh; /*altura total da viewport  */
}

#card {
    background-color: #fcfcfc;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    max-width: 350px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border: 5px solid black
}



@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Bitcount+Grid+Single:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Estilo para o titulo */

h1 {
    color: rgb(22, 159, 159);
    text-align: center;
    font-family: cursive;
}

/* Estilo para o paragrafo */
p {
    font-size: 16px;
    /* tamanho da fonte */
    line-height: 1.5;
    text-align: center;
    font-family: cursive;
}

img {
    display: block;
    /* faz a imagem ocupar uma linha inteira */
    margin: 20px auto;
    /*  centraliza a imagem orizontalmente*/
    border-radius: 50%;
    /* deixa a imagem circular */
    width: 300px;
    /* largura da imagem */
    height: 250px;
    /* altura da imagem */
    border: 2px solid rgb(70, 69, 69); 
}
.foto-legenda {
    font-size: 12px;
    font-style: italic;
}
/* PSEUDO CLASSE, mais detalhes: https://www.w3schools.com/css/css-pseudo-classes.asp */
img:hover {
    transform: scale(1.05); 
}transition: transform 0.3s ease; 



